/* &display=swap */
@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap);
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ================================================================ */
body {
	background: #F5F5F5;
	font-family:"Roboto", sans-serif;
}
[class*="__container"] {
	/* ! при добавлении отступов безопасности или прибавляем padding*2 к max-width (120+30=1050) или указываем box-sizing: content-box; чтобы отступы безопасности не учитывались*/
	/* box-sizing: content-box; */
	max-width: 1050px;
	margin: 0px auto;
	/* ! отступы безопасности */
	padding: 0px 15px;
}
/* ================================================================ */

.header {
}
.header__container {
	margin: 0px auto 30px;
}
.header__title {
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	line-height: 200%;
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 2px;
}
/* ================================================================ */

.main {
	flex: 1 1 auto;
}
.main__container {
}
.main__promise {
	margin: 0px 0px 122px 0px;
}
.main__impact {
	margin: 0px 0px 30px 0px;
}
/* ================================================================ */
.header-block {
}
.header-block>*:not(:last-child){
	margin: 0px 0px 33px 0px;	
}
.header-block_white{
	color: #fff;
}
.header-block_white>*:not(:last-child){
	margin: 0px 0px 31.77px 0px;	
}
.header-block__title {
	font-size: 12px;
	font-weight: 700;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	padding: 0px 0px 0px 33px;
	position: relative;
}
.header-block__title::before{
	content: "";
	background: url("../img/our-promise/mark.svg") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -2px;
	left: -2px;
	display: inline-block;
}
.header-block__title_white{
	color: #fff;
}
.header-block__title_white::before{
background: url("../img/our-impact/mark.svg") 0 0 no-repeat;
}
.header-block__subtitle {
	font-size: 36px;
	font-weight: 900;
	line-height: 117%;
}
/* ================================================================ */

.promise {
}
.promise__header-block {
	max-width: 583px;
	margin: 0px 0px 68px 0px;
}
.promise__items {
	margin: 0px -12px;
	display: flex;
	/* ! для выравнивания флекс-элементов по центру при адаптиве */
	/* justify-content: center; */
	row-gap: 24px;
	flex-wrap: wrap;
}
.promise__item {
}
.item-promise {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 260px;
	column-gap: 23px;
	display: flex;
	align-items: flex-start;
}
.item-promise__icon {
	flex: 0 0 63px;	
	max-width: 63px;
}
.item-promise__content {
}
.item-promise__content>*:not(:last-child){
	margin: 0px 0px 20px 0px;
}
.item-promise__title {
	padding: 4px 0px 0px 0px;
	font-weight: 900;
	font-size: 19px;
	line-height: 137%;
	color: #F2726F;
}
.item-promise__text {
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

/* ================================================================ */

.impact {
	background: #29C3BE;
	padding: 0px 0px 211px 0px;
}
.impact__container{
}
.impact__top{
	margin: 0px 0px 79px 0px;
}
.top-impact{
/* ! для позиционирования пятна(blob) относительно блока (top-our-impact), но оно съезжает при адаптиве */
	/* position: relative; */
}
/* ! позиционирование пятна(blob) относительно блока (top-our-impact), но оно съезжает при адаптиве */
/* .top-impact::after{
	content: "";
	background: url("../img/our-impact/blob.png") 0 0 no-repeat;
	width: 695px;
	height: 308px;
	top: 0;
	right: -93px;
	position: absolute;
	z-index: 1;
}  */
.top-impact__columns {
	display: flex;
	position: relative;
	z-index: 2;
	gap: 111px;
}
.top-impact__header-block {	
	flex: 1 1 auto;
	padding: 112px 0px 0px 0px;	
}
.top-impact__picture {
	flex: 0 0 498px;
	margin: -80px 0px 0px 0px;	
/* ! для позиционирования пятна(blob) относительно картинки (dog) */
	position: relative;
}
/* ! позиционирование пятна(blob) относительно картинки (dog) */
.top-impact__picture::after{
	content: "";
	background: url("../img/our-impact/blob.png") 0 0 no-repeat;
	width: 695px;
	height: 308px;
	top: 80px;
	right: -93px;
	position: absolute;
	z-index: 1;
}
.top-impact__image {
/* ! для позиционирование пятна(blob) относительно картинки (dog) */
	position: relative;
	z-index: 2;
/* ! */
	max-width: 100%;
	border-radius: 40px;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

.impact__bottom {	
}
.bottom-impact {
}
.bottom-impact__items {
	margin: 0px -12px;
	display: flex;
	row-gap: 24px;
	flex-wrap: wrap;
}
.bottom-impact__item {
	padding: 0px 12px;
	flex: 1 1 25%;
	align-items: flex-start;
	display: flex;
	column-gap: 11px;
}
.bottom-impact__icon {
	flex: 0 0 76px;
	max-width: 76px;
}
.bottom-impact__content {

}
.bottom-impact__content>*:not(:last-child){
	margin: 0px 0px 3px 0px;
}
.bottom-impact__statictics {
	padding: 4px 0px 0px 0px;
	color: #fff;
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
}
.bottom-impact__title {
	color: #5D62B5;
	font-weight: 700;
	letter-spacing: 0.15px;
}
/* ================================================================ */

.footer {
}
.footer__container{
	text-align: center;
	line-height: 200%;
}